

.horloge {
    border-radius: 50%;
    background: #fff url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg) no-repeat center;
    background-size: 85%;
    height: 7em;
    width: 7em;
    position: absolute;
  }

 

  .heures-container, .minute-container, .secondes-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .heures{
    background: #000;
<<<<<<< Updated upstream
    height: 10%;
    left: 50%;
    position: absolute;
    top: 50%;
=======
    height: 20%;
    left: 50%;
    position: absolute;
    top: 33%;
>>>>>>> Stashed changes
    transform-origin: 50% 100%;
    width: 3%;
  }

  .minutes{
    background: #000;
<<<<<<< Updated upstream
    height: 15%;
=======
    height: 25%;
>>>>>>> Stashed changes
    left: 50%;
    position: absolute;
    top: 50%;
    transform-origin: 50% 100%;
    width: 2%;
}

.secondes{
    background: #000;
<<<<<<< Updated upstream
    height: 25%;
=======
    height: 30%;
>>>>>>> Stashed changes
    left: 50%;
    position: absolute;
    top: 50%;
    transform-origin: 50% 80%;
    width: 1%;
   
}
@keyframes rotate{
  100%{
    transform: rotateZ(360deg);
  }
}

